* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;

  --bg-color: hsla(240, 5%, 7%, 1);
  --bg-primary-light: hsla(194, 100%, 63%, 0.13);
  --primary-color: hsla(194, 100%, 63%, 0.13);
  --text-color: hsla(0, 0%, 100%, 1);
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);

  display: grid;
  min-height: 100vh;
}
/*
main {
  width: 22.8rem;
  height: 22.7rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
*/

main {
  align-self: end;
  justify-self: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#timer {
  display: flex;
  font-weight: 700;
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
  line-height: 10.3rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

#controls {
  background-color: var(--bg-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  border-radius: 9999px;

  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 5rem + 10vw, 10.8rem);
}

.hide {
  display: none;
}

button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

footer {
  align-self: end;
  justify-self: end;

  padding: 0 4rem 3.2rem 0;
}